* {
  font-family: "Poppins", sans-serif;
}

.mybackground {
  background-color: #fffdf6;
}

.home-image {
  width: 500px;
}

.about-text {
  flex: 1;
}

.mypic {
  height: 20rem;
}

.section-break {
  margin: 10rem auto 10rem auto;
}

.contact-section {
  width: 95%;
  max-width: 900px;
}

@media (max-width: 920px) {
  .home-image {
    width: 250px;
  }
}
